* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(28, 27, 27);
}
  
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
    color: white;
}

p {
    color: white;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.cool {
    color:aqua;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
}
ul li {
    position: relative;
    display: inline-block;
    overflow:hidden;
}
ul li:hover, ul li:focus {
    	outline: none;
}
ul li a {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size:1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
}
ul li a:before{
    position: absolute;
    top: 100%;
    content: attr(title); /* The selector for Wordpress */
    color:#333;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
ul li:hover a, ul li:focus a {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}